# =====================
# ENV
# =====================
.env
*/.env

# =====================
# Go
# =====================
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# =====================
# Build
# =====================
/build/
/dist/

# =====================
# Docker
# =====================
docker-compose.override.yml

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# Logs
# =====================
*.log

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
